[Unit]
Description=Periodic wedge check for hydra-autopilot.service
Documentation=https://github.com/gaberoo322/hydra/issues/508

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
Persistent=true
Unit=hydra-autopilot-watchdog.service

[Install]
WantedBy=timers.target
