[Unit]
Description=Hydra autopilot wedge watchdog
Documentation=https://github.com/gaberoo322/hydra/issues/508
After=hydra-autopilot.service

[Service]
Type=oneshot
ExecStart=%h/.local/bin/hydra-autopilot-watchdog.sh
StandardOutput=journal
StandardError=journal
